.title {
  text-align: center;
  margin-bottom: 0.2em;
}

.subtitle {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  text-align: center;
  font-size: x-large;
  font-weight: normal;
}

.link {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
}

.lfmp {
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  margin: 60px auto;
  max-width: 700px;
}

p {
  text-align: center;
}

a:link,
a:visited {
  color: blue;
}

#footer-container {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
}

#footer:link,
#footer:visited {
  text-decoration: none;
  color: black;
}

#footer:hover {
  color: blue;
}

#twintail-guya {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 75px;
  width: 56px;
}

#twintail-guya:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
